---
layout: archive
permalink: /tags/
title: "Posts by Tags"
header:
  image: assets/images/banner.jpg
---
<iframe
width="350"
height="430"
src="https://console.api.ai/api-client/demo/embedded/
2d55ca53-1a4c-4241-8852-a7ed4f48d266">
</iframe>

{% include base_path %}
{% include group-by-array collection=site.posts field="tags" %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}
