---
layout: archive
permalink: /archive/
title: "Posts by Year"
header:
  image: assets/images/banner.jpg
---
<iframe
width="350"
height="430"
src="https://console.api.ai/api-client/demo/embedded/
2d55ca53-1a4c-4241-8852-a7ed4f48d266">
</iframe>

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
